# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*

# SQLite database
*.db
*.sqlite3

# VSCode settings
.vscode/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
pip-wheel-metadata/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Chroma DB
chroma_db_hr/

# Alembic migration files (optional, keep versions/ if you want migrations in git)
alembic/versions/

# Logs
*.log

# MacOS
.DS_Store