fastapi
uvicorn
sqlalchemy
pydantic
alembic
python-jose[cryptography]
passlib[bcrypt]
langchain
langchain-core
langchain-ollama
langchain-chroma
langchain-text-splitters
langchain-huggingface
chromadb
requests